body{
    background-color: #ededdf;

}

.logo {
    float: left;
    padding: 15px;
    font-size: 2.2em;
    font-weight: 600;
    color: black
}

.navbar {
    display: flex;
    padding: 20px;
    height: 30px;
    border-radius: 25px;
    background-color: #c1e2e3;
    height: 35px;
}

.navbar-txt {
    margin-right: 10px;
    font-family: Helvetica;
    font-size: 1.4em;
    height: 20px;
    border: 1px solid transparent;
    padding-bottom: 8px;
    border-radius: 10px;
}

.navbar-txt a {  /* Navbar links */
    color: black;
    text-decoration: none;
    transition: color 0.4s;
    padding: 8px; /* Navbar links padding */
    padding-left: 9px;
}

.navbar-txt:hover {  /* Navbar elements hover */
    border: 1px solid #3f8abf;
    transition: border 0.4s;
    border-radius: 12px;
}

.navbar-txt a:hover{  /* Navbar links hover */
    color: #3f8abf;
    border-spacing: 20px;
}

.portfolio-grid {
    padding-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item{
    postition: relative;
    margin: 2px;
}

.portfolio-img {
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.portfolio-content {
    postition: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    color: black;
}

.portfolio-logo {


}

.portfolio-txt {
    transition: 3s;
    color: transparent;
    font-size: 1.3em;
    font-weight: 600;
    font-family: Helvetica;
}

.portfolio-content:hover .portfolio-txt {
    transition: 1s;
    font-size: 1.5em;
    font-weight: 600;
    font-family: Helvetica;
    color: aquamarine;
}

